<h1>SELFASSUR</h1>
<h3>"Comparez gratuitement les offres
des grands assureurs et augmentez automatiquement votre pouvoir d'achat !"</h3>
<h2>ASSURANCE EMPRUNTEUR</h2>
<h3>Votre simulation assurance habitation</h3>

<form action="/emprunteurs" method="post">

  <input type="text" name="emprunteur[emprunt]">

  <input type="submit">
</form>

<%= link_to "Retour sur les autres assurances", assurances_path %>
