<h1>SELFASSUR</h1>
<h3>"Comparez gratuitement les offres
des grands assureurs et augmentez automatiquement votre pouvoir d'achat !"</h3>
<h2>ASSURANCE HABITATION</h2>
<h3>Votre simulation assurance habitation</h3>

<%= form_for @habitation do |f| %>

<% f.label :name, "Entrer votre Nom" %>
<% f.text_field :name %>

<% f.submit %>

<% end %>

<%= link_to "Retour sur les autres assurances", assurances_path %>
